<%inherit file="base.html"/>

<%
links = [
    ['http://www.reddit.com/reddits', 'reddit.com/reddits', "reddit's way to find subreddits"],
    ['http://www.subreddits.org', 'subreddits.org', 'this site made me think up metareddit'],
    ['http://subredditfinder.com', 'subredditfinder.com', 'ordering reddits by hotness'],
    [],
    ['http://www.redditall.com', 'redditall.com', 'rss viewer for reddit'],
    ['http://www.aggreddit.com', 'aggreddit.com', 'another rss viewer for reddit'],
    ['http://www.redditplus.com', 'redditplus.com', 'current top 200 of submissions'],
    ['http://erqqvg.com', 'erqqvg.com', 'live view of score and comment activity'],
    [],
    ['http://www.reddit.tv', 'reddit.tv', 'all videos submitted to reddit in one place'],
    ['http://www.redditpics.com', 'redditpics.com', 'viewing pictures submitted to reddit in one place'],
    [],
	['http://bestofama.com, 'bestofama.com', 'the unofficial /r/IAmA indexer'],
    ['http://karmawhores.net/', 'karmawhores.net', 'lists reddit users with most karma'],
    [],
    ['http://sp.reddit.com/index.html', 'spreddit.com', 'baby pictures of reddit and stuff']
]
%>

<h3>links</h3>
<dl>
%for l in links:
    %if l:
        <a href="${l[0]}" class="title">${l[1]}</a> 
        <dd>${l[2]}</dd>
    %else:
        <br/>
    %endif
%endfor
</dl>

